<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Maid Boye Lite - Invite Done</title>
	<style>
		body {
			background-color: #2C2F33;
		}

		* {
			color: #FFFFEA;
		}
	</style>
</head>

<body>
	<center>
		<h2>
			Thanks for inviting me! This bot version only uses slash commands.
		</h2>
		<h2>
			For support, join <a href="/links/support">this</a> server. To invite the main bot, see our <a
				href="https://maid.gay">website</a>.
		</h2>
	</center>
</body>

</html>
