<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>
			Feature Description - {{ name }}
		</title>
		<style>
			body {
				background-color: #2C2F33;
			}

			p {
				color: seashell;
				text-align: center;
				padding: 20%;
			}

			a {
				color: #FFF;
			}
		</style>
	</head>
	<body style=""> 
		<div id="main">
			<h1>
					{{{ description }}}
			</h1>
		</div>
	</body>
</html>
