<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Maid Boye - Invite Done</title>
	<style>
		body {
			background-color: #2C2F33;
		}

		* {
			color: #FFFFEA;
		}

	</style>
</head>

<body>
	<center>
		<h2>
			Thanks for inviting me! You can use <u>maid help</u> in a server to see my commands.
		</h2>
		<h2>
			For support, join <a href="/links/support">this</a> server.
		</h2>
	</center>
</body>

</html>
